@{
    ViewBag.Title = "Home Page";
}
 <!--TRAILER SECTION-->
<div class="jumbotron mainSec">
    <h1 class="container" id="trailer"><iframe width="560" height="315" src="https://www.youtube.com/embed/AURVxvIZrmU" frameborder="1" allowfullscreen></iframe></h1>
</div>

<!--EPISODES PREVIEW SECTION-->
<div class="row container previewThem">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://outhereinthefield.files.wordpress.com/2015/01/max7.png" alt="...">
            <div class="caption">
                <h3>Episode 1</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                <p><a href="#" class="btn btn-primary" role="button">Play Now</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://i.ytimg.com/vi/qxBEZ-_78Vs/maxresdefault.jpg" alt="...">
            <div class="caption">
                <h3>Episode 2</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                <p><a href="#" class="btn btn-primary" role="button">Play Now</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://i.ytimg.com/vi/GmYGAjlpW6o/maxresdefault.jpg" alt="...">
            <div class="caption">
                <h3>Episode 3</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                <p><a href="#" class="btn btn-primary" role="button">Play Now</a></p>
            </div>
        </div>
    </div>
</div>